evaluate==0.4.1
fastapi==0.109.2
uvicorn==0.29.0
sqlalchemy==2.0.30
pymysql==1.1.0
cryptography==42.0.7
pydantic===2.6.4
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
plotly==5.20.0
requests==2.31.0
streamlit-extras==0.4.2
openai==1.26.0
torch==2.2.2
mauve-text==0.3.0
scikit-learn==1.4.2
rouge-score==0.1.2
transformers==4.40.2
streamlit_extras