evaluate==0.4.1
fastapi~=0.109.2
uvicorn
sqlalchemy~=2.0.28
pymysql~=1.1.0
cryptography
pydantic~=2.6.1
pandas~=2.2.1
numpy~=1.26.4
matplotlib~=3.8.4
plotly~=5.20.0
requests~=2.31.0
streamlit-extras
openai
torch
mauve-text
scikit-learn
rouge-score
'transformers[torch]'